{% extends 'main.html' %}

{%block content%}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

<div class="home-container">

    <div>
        <h3>Projects</h3>
        <hr>

        {% for project in projects %}
            <div>
                <a href='{% url "home" %}?q={{project.title}}'>{{project.title}}</a>
            </div>

        {%endfor%}
    </div>

    <div>
        <a href='{% url "create-project"%}'> CREATE A NEW PROJECT</a>
        <a href='{% url "create-issue"%}'> SUBMIT AN ISSUE</a>

        <div>
            {% for issue in issues %}

            <div>
                <h4>{{issue.user.username}} in Project {{issue.project.title}}</h4>
                <h5>{{issue.id}} -- <a href='{% url "issue" issue.id %}'>{{issue.title}}</a> </h5>
                <a href='{%url "update-issue" issue.id%}'>EDIT</a>
                <hr>
            </div>

            {%endfor%}
        </div>
    </div>

    
</div>
{%endblock%}